body {
    font-family: fantasy;
    background-color: #0051ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        color: rgb(180, 255, 225);
        font-family: fantasy;
    }

    h5 {
        color: rgb(180, 255, 225);
        font-family: fantasy;
    }

    #chat-box {
        color: rgb(180, 255, 225);
        font-family: fantasy;
    }
    #user-input {
        color: rgb(180, 255, 225);
        font-family: fantasy;
    }
    
}

.chat-container {
    width: 400
}